<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700%7COpen+Sans:400,600" rel="stylesheet">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../css/iconsmind.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/socicons.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">

    <title>Ecommerce Landing Page</title>
</head>
<body>

<section id="promo" class="d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="mb-0 d-flex align-items-center justify-content-center"><label class="badge badge-secondary mr-3">HOT</label> Try Austin for 14 days. <span class="d-none d-lg-inline-block">No risk, and no credit card required. Hosting for 3 months for free</span></p>
            </div>
        </div>
    </div>
    <i class="icon icon-Close-Window"></i>
</section>

<main id="main" class="main main-4">
    <div class="gradient"></div>
    <nav class="navbar navbar-1 navbar-expand-lg navbar-light justify-content-center">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="http://via.placeholder.com/600x332" alt="" class="light">
                <img src="http://via.placeholder.com/600x332" alt="" class="dark">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto fill-flex justify-content-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="index.html">Hosting</a>
                            <a class="dropdown-item" href="index2.html">SEO</a>
                            <a class="dropdown-item" href="index3.html">VPN</a>
                            <a class="dropdown-item" href="index4.html">Ecommerce</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tour">Tour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto justify-content-end align-items-start align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link nav-link__cta rounded" href="#main">Buy Now</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <h1 class="main-content__title mb-3 mb-lg-4 h2">All you need to power your online store with Austin</h1>
                    <p class="main-content__lead lead mb-4">Trusted by over 600,000 businesses worldwide</p>
                    <a href="#" class="btn btn--green btn--lg mb-0 mt-4 d-inline-flex align-items-center">Open new Store<i class="icon icon-Right ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <img src="../images/hero-illustration-5.png" alt="" class="img-fluid hero-illustration">
                </div>
            </div>
        </div>
    </div>
    <div class="main-layer">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,0 50,100 100,0 100,100 0,100"></polygon></svg>
    </div>
</main>

<section id="services" class="services services-3 section section--padding">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-8 offset-lg-2">
                <h3 class="title">Our Services</h3>
                <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
            </div>
        </div>
        <div class="row">
            <div class="service col-lg-4 mb-5 mb-lg-0">
                <i class="service__icon icon icon--lg icon-Hipster-Men icon--color d-flex"></i>
                <h4 class="service__header">Thousand of Themes</h4>
                <p class="service__text pr-4">
                    Make sure to include in your wheelhouse i also believe it's important for every member to be involved and invested in our company and this is one way.             </p>
                <ul class="service__list list-unstyled mb-0">
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Web Design</li>
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Web Applications</li>
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Digital Strategy</li>
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Information Architecture</li>
                </ul>
            </div>
            <div class="service col-lg-4 mb-5 mb-lg-0">
                <i class="service__icon icon icon--lg icon-Atom icon--color d-flex"></i>
                <h4 class="service__header">Front-End & Back-End</h4>
                <p class="service__text pr-4">
                    It looks a bit empty, try to make everything bigger that sandwich needs to be more playful I really like the colour but can you change it we need.                </p>
                <ul class="service__list list-unstyled mb-0">
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Web Design</li>
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Web Applications</li>
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Digital Strategy</li>
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Information Architecture</li>
                </ul>
            </div>
            <div class="service col-lg-4">
                <i class="service__icon icon icon--lg icon-Paypal icon--color d-flex"></i>
                <h4 class="service__header">Configure Payment</h4>
                <p class="service__text pr-4">
                   Is this the best we can do you might wanna give it another shot, low resolution? It looks ok on my screen , nor can you punch up the fun level on these icons.
                </p>
                <ul class="service__list list-unstyled mb-0">
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Web Design</li>
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Web Applications</li>
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Digital Strategy</li>
                    <li class="d-flex align-items-center"><i class="icon icon-Right mr-3"></i>Information Architecture</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="tour" class="tour-4 section section--gradient__2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 left-side order-2 order-lg-1">
                <div class="preamble preamble--light text-left">
                    <h3 class="title">Quick Software Tour</h3>
                    <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder.</p>
                </div>
                <nav>
                    <div class="nav nav-tabs tour__tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active d-flex align-items-center mb-4" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-selected="true">
                            <i class="icon icon-Sidebar-Window icon--md"></i>
                            <div>
                                <h5 class="header">Work directly in GitHub</h5>
                                <p class="pr-4">Our powerful browser extension adds Task Boards, Epics, Estimates, Reports and more directly to GitHub.</p>
                            </div>
                        </a>
                        <a class="nav-item nav-link d-flex align-items-center" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-selected="false">
                            <i class="icon icon-Big-Data icon--md"></i>
                            <div>
                                <h5 class="header">Work directly in GitHub</h5>
                                <p class="pr-4">Our powerful browser extension adds Task Boards, Epics, Estimates, Reports and more directly to GitHub.</p>
                            </div>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-6 right-side order-1 order-lg-2">
                <img src="http://via.placeholder.com/1200x676" alt="" class="">
            </div>
        </div>
    </div>
</section>

<section id="features" class="features-6 section section--padding section--gradient__4">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-8 offset-lg-2">
                <h3 class="title">Product meets all your needs</h3>
                <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center feature mb-5 mb-lg-0">
                <img src="http://via.placeholder.com/545x613" alt="" class="feature__image img-fluid">
                <h4 class="mb-3">Complete Solution</h4>
                <p class="pr-4 pl-4">Nail jelly to the hothouse wall best practices. Core competencies core competencies. That jerk from finance really threw me under the bus shoot me an email yet out of.</p>
            </div>
            <div class="col-lg-6 text-center">
                <img src="http://via.placeholder.com/545x613" alt="" class="feature__image img-fluid">
                <h4 class="mb-3">Mobile Friendly Software</h4>
                <p class="pr-4 pl-4">Drink the Kool-aid. Bake it in close the loop going forward and come up with something buzzworthy face time. Productize this is a no-brainer window-licker, and new economy.</p>
            </div>
        </div>
    </div>
</section>

<section class="section section--padding">

    <section id="clients" class="clients-3 section">
        <div class="container">
            <div class="row">
                <div class="preamble col-lg-8 offset-lg-2">
                    <h3 class="title">A trusted partner to the best</h3>
                    <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row justify-content-center">
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials" class="testimonials-5 section">
        <div class="container">
            <div class="row justify-content-center position-relative">
                <div class="d-none d-lg-flex testimonials__button testimonials__prev-button">
                    <svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg>            </div>
                <div class="d-none d-lg-flex testimonials__button testimonials__next-button">
                    <svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>            </div>
                <div class="owl-carousel owl-theme">
                    <div class="d-block d-md-flex justify-content-center">
                        <div class="col-lg-2 col-md-3 text-center text-md-left mb-4 mb-md-0">
                            <img src="http://via.placeholder.com/200x200" alt="" class="img-fluid blockquote__avatar">
                        </div>
                        <div class="col-lg-7 col-md-9">
                            <blockquote class="blockquote mb-0">
                                <p class="mb-0">"Generate relevant and engaging content and above all, increase viewability. Demonstrate scrum masters and try to innovate. Funneling a holistic approach with."</p>
                                <footer>
                                    <h5 class="mb-0 mt-4">— Austin Clein</h5>
                                    <p class="mb-0">Interface Designer</p>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="d-block d-md-flex justify-content-center">
                        <div class="col-lg-2 col-md-3 text-center text-md-left mb-4 mb-md-0">
                            <img src="http://via.placeholder.com/200x200" alt="" class="img-fluid blockquote__avatar">
                        </div>
                        <div class="col-lg-7 col-md-9">
                            <blockquote class="blockquote mb-0">
                                <p class="mb-0">"Generate relevant and engaging content and above all, increase viewability. Demonstrate scrum masters and try to innovate. Funneling a holistic approach with."</p>
                                <footer>
                                    <h5 class="mb-0 mt-4">— Austin Clein</h5>
                                    <p class="mb-0">Interface Designer</p>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section id="pricing" class="pricing-4 section section--padding__top">
    <div class="container">
        <div class="row">
            <div class="preamble preamble--light col-lg-8 offset-lg-2">
                <h3 class="title">Software Pricing</h3>
                <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="pricing-card col-lg-3 d-flex align-items-start flex-column mb-4 mb-lg-0">
                <div class="mb-auto p-2 w-100">
                    <h5 class="pricing-card__title mb-4">Regular</h5>
                    <div class="pricing-card__icon">
                        <i class="icon-Male"></i>
                    </div>
                    <ul class="pricing-card__list list-unstyled mb-5 mt-4">
                        <li>Unlimited Builder</li>
                        <li>1000GB Bandwidth</li>
                        <li>Up to 5 licences</li>
                    </ul>
                </div>
                <h3 class="pricing-card__value w-100"><span class="pricing-currency">$</span><span class="pricing-cost">5</span><span class="pricing-period">/mo</span></h3>
                <div class="text-center mt-4 w-100">
                    <a href="#" class="btn btn--blue btn--lg">Get Started</a>
                </div>
            </div>
            <div class="pricing-card col-lg-3 d-flex align-items-start flex-column mb-4 mb-lg-0">
                <div class="mb-auto p-2 w-100">
                    <h5 class="pricing-card__title mb-4">Advanced</h5>
                    <div class="pricing-card__icon">
                        <i class="icon-Business-ManWoman"></i>
                    </div>
                    <ul class="pricing-card__list list-unstyled mb-5 mt-4">
                        <li>Unlimited Builder</li>
                        <li>3000GB Bandwidth</li>
                        <li>Up to 10 licences</li>
                    </ul>
                </div>
                <h3 class="pricing-card__value w-100"><span class="pricing-currency">$</span><span class="pricing-cost">29</span><span class="pricing-period">/mo</span></h3>
                <div class="text-center mt-4 w-100">
                    <a href="#" class="btn btn--blue btn--lg">Get Started</a>
                </div>
            </div>
            <div class="pricing-card col-lg-3 d-flex align-items-start flex-column mb-4 mb-lg-0">
                <div class="mb-auto p-2 w-100">
                    <h5 class="pricing-card__title mb-4">Premium</h5>
                    <div class="pricing-card__icon">
                        <i class="icon-Conference"></i>
                    </div>
                    <ul class="pricing-card__list list-unstyled mb-5 mt-4">
                        <li>Unlimited Builder</li>
                        <li>5000GB Bandwidth</li>
                        <li>Up to 25 licences</li>
                        <li>Unlimited Control Panel</li>
                    </ul>
                </div>
                <h3 class="pricing-card__value w-100"><span class="pricing-currency">$</span><span class="pricing-cost">49</span><span class="pricing-period">/mo</span></h3>
                <div class="text-center mt-4 w-100">
                    <a href="#" class="btn btn--green btn--lg">Get Started</a>
                </div>
            </div>
            <div class="pricing-card col-lg-3 d-flex align-items-start flex-column mb-4 mb-lg-0">
                <div class="mb-auto p-2 w-100">
                    <h5 class="pricing-card__title mb-4">Enterprise</h5>
                    <div class="pricing-card__icon">
                        <i class="icon-University"></i>
                    </div>
                    <ul class="pricing-card__list list-unstyled mb-5 mt-4">
                        <li>Unlimited Builder</li>
                        <li>8000GB Bandwidth</li>
                        <li>Up to 45 licences</li>
                        <li>500 Email Account</li>
                        <li>Unlimited Control Panel</li>
                    </ul>
                </div>
                <h3 class="pricing-card__value w-100"><span class="pricing-currency">$</span><span class="pricing-cost">99</span><span class="pricing-period">/mo</span></h3>
                <div class="text-center mt-4 w-100">
                    <a href="#" class="btn btn--blue btn--lg">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq" class="faq-2 section section--padding__wmargin section--gradient__4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="question">
                    <h5>Out of the loop ramp up customer centric?</h5>
                    <p>I realized she was just office pretty curate. After I ran into Helen at a restaurant, I realized she was just office pretty t-shaped individual become creative.</p>
                </div>
                <div class="question">
                    <h5>Programmatically gain traction?</h5>
                    <p>Bob called an all-hands this afternoon to be inspired is to become creative, innovative and energized we want this philosophy to trickle down to all our stakeholders.</p>
                </div>
                <div class="question">
                    <h5>Bake it in can I just chime in on that?</h5>
                    <p>We need to harvest synergy effects we need more paper who's responsible for the ask for this request?. Strategic fit ladder up / ladder back to the strategy nor reach out.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="question">
                    <h5>Out of the loop ramp up customer centric?</h5>
                    <p>Out of the loop ramp up customer centric, so quick-win baseline screw the pooch, or player-coach.  Tbrand terrorists message the initiative.</p>
                </div>
                <div class="question">
                    <h5>Programmatically gain traction?</h5>
                    <p>Old boys club drill down, after I ran into Helen at a restaurant, I realized she was just office pretty curate. After I ran into Helen at a restaurant, I realized she was just office pretty.</p>
                </div>
                <div class="question">
                    <h5>Can we try some other colours?</h5>
                    <p>Race without a finish line run it up the flagpole open door policy mobile friendly. Old boys club drill down, after I ran into Helen at a restaurant realized.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-4 section--gradient__3">
    <div class="footer__top section section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="http://via.placeholder.com/600x332" alt="" class="footer__logo img-fluid">
                </div>
                <div class="preamble preamble--light mb-4 col-lg-10 offset-lg-1">
                    <h3 class="title">Everything you need<br> to revolutionize your website</h3>
                    <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
                    <a href="#" class="btn btn--green btn--lg mb-0 mt-4 d-inline-flex align-items-center">Get This Theme<i class="icon icon-Right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="footer__feature col-lg-3 col-md-6 text-center text-lg-left">
                    <h5 class="color--white">Truly Unlimited</h5>
                    <p>Make as many sites as you want.</p>
                </div>
                <div class="footer__feature col-lg-3 col-md-6 text-center text-lg-left">
                    <h5 class="color--white">Forever Yours</h5>
                    <p>Pay once with no tricky charges.</p>
                </div>
                <div class="footer__feature col-lg-3 col-md-6 text-center text-lg-left">
                    <h5 class="color--white">5 Star Support</h5>
                    <p>20-day money back guarantee.</p>
                </div>
                <div class="footer__feature col-lg-3 col-md-6 text-center text-lg-left">
                    <h5 class="color--white">Frequent Updates</h5>
                    <p>We make it better. Constantly.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="modal-body__image col-md-5"></div>
                    <div class="modal-body__content col-md-7">
                        <div class="d-flex justify-content-center">
                            <div class="col-lg-9 col-md-8">
                                <div class="preamble text-left mb-5">
                                    <h3 class="title">Just 24 Hours Left!</h3>
                                    <p class="lead">Your limited-time offer to upgrade to Austin Premium is almost up.</p>
                                </div>
                                <form action="#" class="modal__form">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Name" class="form-control modal__form--input" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" placeholder="Your Email" class="form-control modal__form--input" required>
                                    </div>
                                    <div class="form-group justify-content-center d-flex mt-3 mb-0">
                                        <button class="btn btn--blue btn--lg w-100 modal__form--btn">Join Newsletter Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/main.js"></script>
</body>
</html>