<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700%7COpen+Sans:400,600" rel="stylesheet">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../css/iconsmind.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/socicons.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <title>SEO Landing Page</title>
</head>
<body class="body-2">

<main id="main" class="main main-2">
    <div class="gradient"></div>
    <nav class="navbar navbar-1 navbar-expand-lg navbar-light justify-content-center">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="http://via.placeholder.com/600x332" alt="" class="light">
                <img src="http://via.placeholder.com/600x332" alt="" class="dark">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto fill-flex justify-content-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="index.html">Hosting</a>
                            <a class="dropdown-item" href="index2.html">SEO</a>
                            <a class="dropdown-item" href="index3.html">VPN</a>
                            <a class="dropdown-item" href="index4.html">E-Commerce</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Domains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tour">Tour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto justify-content-end align-items-start align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link nav-link__cta rounded" href="#main">Buy Now</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main-content">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 offset-lg-0 col-md-10 offset-md-1 col-sm-10 offset-sm-1 text-center text-lg-left">
                    <div class="pr-0 pr-xl-5 pr-lg-0">
                        <h1 class="main-content__title mb-3 mb-lg-4 h2">Why do you need SEO Services?</h1>
                        <p class="main-content__lead lead mb-4">I have zero cycles for this pipeline, so we wanted to see more charts strategic high-level 30,000</p>
                        <a href="#" class="btn btn--green btn--lg mb-0 mt-4 d-inline-flex align-items-center">How it Works<i class="icon icon-Right ml-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right position-relative">
                    <img src="../images/hero-illustration.png" alt="" class="hero-image img img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <form action="#" class="main-content__form d-block d-md-flex align-items-center">
                        <div class="position-relative d-flex fill-flex align-items-center">
                            <i class="main-content__form--icon icon icon-Magnifi-Glass2 d-none d-md-flex"></i>
                            <input type="text" class="main-content__form--input form-control mb-3 mb-md-0" placeholder="Type your domain name, e.g. domain.com" required>
                        </div>
                        <button class="main-content__form--btn btn btn--blue btn--md">Check your SEO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="main-clients">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-center">
                            <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                        </div>
                        <div class="col d-flex align-items-center justify-content-center">
                            <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                        </div>
                        <div class="col d-flex align-items-center justify-content-center">
                            <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                        </div>
                        <div class="col d-flex align-items-center justify-content-center">
                            <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                        </div>
                        <div class="col d-flex align-items-center justify-content-center">
                            <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<section id="features" class="features-7 section section--padding section--gradient__5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-xl-6 col-lg-5 order-2 order-lg-1">
                <div class="preamble text-left pr-4 mb-0">
                    <h3 class="title">Important Features</h3>
                    <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
                    <p class="lead">Make sure to include in your wheelhouse i also believe it's important for every member to be involved and invested in our company.</p>
                    <a href="#" class="btn btn--green btn--lg mb-0 mt-4 d-inline-flex align-items-center">Read More</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-card">
                            <i class="icon-SSL icon--color icon--md mb-3"></i>
                            <h5 class="mb-3">Only Verified</h5>
                            <p class="mb-0">Face time we just need to put these last issues to bed.</p>
                        </div>
                        <div class="feature-card">
                            <i class="icon-Chrome icon--color icon--md mb-3"></i>
                            <h5 class="mb-3">Support Browsers</h5>
                            <p class="mb-0">Overcome key issues to meet key milestones drill down.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 with--margin">
                        <div class="feature-card">
                            <i class="icon-Headset icon--color icon--md mb-3"></i>
                            <h5 class="mb-3">Premium Support</h5>
                            <p class="mb-0">Three-martini lunch let's not solutionize this right now.</p>
                        </div>
                        <div class="feature-card">
                            <i class="icon-Data-Refresh icon--color icon--md mb-3"></i>
                            <h5 class="mb-3">Constantly Updated</h5>
                            <p class="mb-0">Game plan wiggle room diversify kpis obviously some. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tour" class="tour-5 section section--padding section--gradient__4">
    <div class="container">
        <div class="row">
            <div class="preamble preamble--light col-lg-8 offset-lg-2">
                <h3 class="title">What Can SEO Do?</h3>
                <ul class="nav list-unstyled mb-0 mt-5 no-gutters" id="pills-tab" role="tablist">
                    <li class="col">
                        <a class="active d-flex flex-column align-items-center" id="pills-words-tab" data-toggle="pill" href="#pills-words" role="tab" aria-controls="pills-words" aria-selected="true">
                            <i class="icon icon-Normal-Text icon--lg d-none d-sm-block"></i>
                            <span class="d-block text-center mt-4 mt-lg-4">Customize Words</span>
                        </a>
                    </li>
                    <li class="col">
                        <a class="d-flex flex-column align-items-center" id="pills-test-tab" data-toggle="pill" href="#pills-test" role="tab" aria-controls="pills-test" aria-selected="false">
                            <i class="icon icon-Gears icon--lg d-none d-sm-block"></i>
                            <span class="d-block text-center mt-4 mt-lg-4">Test and Optimize</span>
                        </a>
                    </li>
                    <li class="col">
                        <a class="d-flex flex-column align-items-center" id="pills-phrases-tab" data-toggle="pill" href="#pills-phrases" role="tab" aria-controls="pills-phrases" aria-selected="false">
                            <i class="icon icon-Speach-Bubbles icon--lg d-none d-sm-block"></i>
                            <span class="d-block text-center mt-4 mt-lg-4">Right Phrases</span>
                        </a>
                    </li>
                    <li class="col">
                        <a class="d-flex flex-column align-items-center" id="pills-characters-tab" data-toggle="pill" href="#pills-characters" role="tab" aria-controls="pills-characters" aria-selected="false">
                            <i class="icon icon-Book icon--lg d-none d-sm-block"></i>
                            <span class="d-block text-center mt-4 mt-lg-4">Limited Characters</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-words" role="tabpanel" aria-labelledby="pills-words-tab">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <img src="http://via.placeholder.com/920x567" alt="" class="img-fluid tour__image">
                    </div>
                </div>
                <div class="row">
                    <div class="feature col-md-4 text-center">
                        <h4>Set your posting</h4>
                        <p class="feature__text mb-0">Work flows high performance keywords, open door policy, and even dead cats bounce not.</p>
                    </div>
                    <div class="feature col-md-4 text-center">
                        <h4>Build your following</h4>
                        <p class="feature__text mb-0">Run it up the flag pole enough to wash your face i am dead inside yet streamline don't want.</p>
                    </div>
                    <div class="feature col-md-4 text-center">
                        <h4>Add posts to your Buffer</h4>
                        <p class="feature__text mb-0">I don't want to drain the whole swamp, i just want to shoot some alligators that ipo the ocean.</p>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show" id="pills-test" role="tabpanel" aria-labelledby="pills-test-tab">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/83586113" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="feature col-md-4 text-center">
                        <h4>Set your posting schedule</h4>
                        <p class="feature__text mb-0">Work flows high performance keywords, open door policy, and even dead cats bounce not enough bandwidth.</p>
                    </div>
                    <div class="feature col-md-4 text-center">
                        <h4>Build your following</h4>
                        <p class="feature__text mb-0">Run it up the flag pole enough to wash your face i am dead inside yet streamline don't want.</p>
                    </div>
                    <div class="feature col-md-4 text-center">
                        <h4>Add posts to your Buffer</h4>
                        <p class="feature__text mb-0">I don't want to drain the whole swamp, i just want to shoot some alligators that ipo the ocean.</p>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show" id="pills-phrases" role="tabpanel" aria-labelledby="pills-phrases-tab">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <img src="http://via.placeholder.com/920x567" alt="" class="img-fluid tour__image">
                    </div>
                </div>
                <div class="row">
                    <div class="feature col-md-4 text-center">
                        <h4>Set your posting schedule</h4>
                        <p class="feature__text mb-0">Work flows high performance keywords, open door policy, and even dead cats bounce not enough bandwidth.</p>
                    </div>
                    <div class="feature col-md-4 text-center">
                        <h4>Build your following</h4>
                        <p class="feature__text mb-0">Run it up the flag pole enough to wash your face i am dead inside yet streamline don't want.</p>
                    </div>
                    <div class="feature col-md-4 text-center">
                        <h4>Add posts to your Buffer</h4>
                        <p class="feature__text mb-0">I don't want to drain the whole swamp, i just want to shoot some alligators that ipo the ocean.</p>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show" id="pills-characters" role="tabpanel" aria-labelledby="pills-characters-tab">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <img src="http://via.placeholder.com/920x567" alt="" class="img-fluid tour__image">
                    </div>
                </div>
                <div class="row">
                    <div class="feature col-md-4 text-center">
                        <h4>Set your posting schedule</h4>
                        <p class="feature__text mb-0">Work flows high performance keywords, open door policy, and even dead cats bounce not enough bandwidth.</p>
                    </div>
                    <div class="feature col-md-4 text-center">
                        <h4>Build your following</h4>
                        <p class="feature__text mb-0">Run it up the flag pole enough to wash your face i am dead inside yet streamline don't want.</p>
                    </div>
                    <div class="feature col-md-4 text-center">
                        <h4>Add posts to your Buffer</h4>
                        <p class="feature__text mb-0">I don't want to drain the whole swamp, i just want to shoot some alligators that ipo the ocean.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cta" class="cta cta-3 section section--padding">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0 text-center text-lg-left">
                <img src="http://via.placeholder.com/486x475" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <div class="preamble text-center text-lg-left pr-4 mb-0">
                    <h3 class="title">Sign Up for Webinar</h3>
                    <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
                    <p class="lead">89% of customers want your business to start messaging today.</p>
                    <form action="#" class="d-block d-sm-flex align-items-center mt-4 mb-2">
                        <input type="text" placeholder="Your Email" class="form-control mr-2" required>
                        <button class="mt-2 mt-sm-0 btn btn--green btn--lg mb-0 d-inline-flex align-items-center justify-content-center" type="submit">Sign Up</button>
                    </form>
                    <small class="d-block">14 day free trial · No credit card required</small>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services-4 section section--padding__wmargin section--gradient__3">
    <div class="container">
        <div class="row">
            <div class="preamble preamble--light col-lg-8 offset-lg-2">
                <h3 class="title">What We Offer</h3>
                <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
            </div>
        </div>
        <div class="row">
            <div class="service col-lg-3 col-md-6 col-sm-6 text-center">
                <i class="service__icon icon-Mail-Send icon--md"></i>
                <h5 class="service__header">Working Contact Form</h5>
                <p class="service__description">Lorem ipsum dolor sit amet, consectetur tate.</p>
            </div>
            <div class="service col-lg-3 col-md-6 col-sm-6 text-center">
                <i class="service__icon icon-Fountain-Pen icon--md"></i>
                <h5 class="service__header">Tailored Section</h5>
                <p class="service__description">Lorem ipsum dolor sit amet, consectetur tate.</p>
            </div>
            <div class="service col-lg-3 col-md-6 col-sm-6 text-center">
                <i class="service__icon icon-Environmental icon--md"></i>
                <h5 class="service__header">Easy to Customize</h5>
                <p class="service__description">Lorem ipsum dolor sit amet, consectetur tate.</p>
            </div>
            <div class="service col-lg-3 col-md-6 col-sm-6 text-center">
                <i class="service__icon icon-Wifi-2 icon--md"></i>
                <h5 class="service__header">Lightweight and Fast</h5>
                <p class="service__description">Lorem ipsum dolor sit amet, consectetur tate.</p>
            </div>
        </div>
        <div class="row">
            <div class="service col-lg-3 col-md-6 col-sm-6 text-center">
                <i class="service__icon icon-Medal icon--md"></i>
                <h5 class="service__header">5 Starts Rated</h5>
                <p class="service__description">Lorem ipsum dolor sit amet, consectetur tate.</p>
            </div>
            <div class="service col-lg-3 col-md-6 col-sm-6 text-center">
                <i class="service__icon icon-Laptop-Phone icon--md"></i>
                <h5 class="service__header">Responsive Design</h5>
                <p class="service__description">Lorem ipsum dolor sit amet, consectetur tate.</p>
            </div>
            <div class="service col-lg-3 col-md-6 col-sm-6 text-center">
                <i class="service__icon icon-Dashboard icon--md"></i>
                <h5 class="service__header">Grab new Customers</h5>
                <p class="service__description">Lorem ipsum dolor sit amet, consectetur tate.</p>
            </div>
            <div class="service col-lg-3 col-md-6 col-sm-6 text-center">
                <i class="service__icon icon-Statistic icon--md"></i>
                <h5 class="service__header">Marketing Friendly</h5>
                <p class="service__description">Lorem ipsum dolor sit amet, consectetur tate.</p>
            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="testimonials-5 section section--padding">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-8 offset-lg-2 mb-5">
                <h3 class="title">What do People Say?</h3>
            </div>
        </div>
        <div class="row justify-content-center position-relative">
            <div class="d-none d-lg-flex testimonials__button testimonials__prev-button">
                <svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg>            </div>
            <div class="d-none d-lg-flex testimonials__button testimonials__next-button">
                <svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>            </div>

            <div class="owl-carousel owl-theme">
                <div class="d-block d-md-flex justify-content-center">
                    <div class="col-lg-2 col-md-3 text-center text-md-left mb-4 mb-md-0">
                        <img src="http://via.placeholder.com/200x200" alt="" class="img-fluid blockquote__avatar">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <blockquote class="blockquote mb-0">
                            <p class="mb-0">"Generate relevant and engaging content and above all, increase viewability. Demonstrate scrum masters and try to innovate. Funneling a holistic approach with."</p>
                            <footer>
                                <h5 class="mb-0 mt-4">— Austin Clein</h5>
                                <p class="mb-0">Interface Designer</p>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <div class="d-block d-md-flex justify-content-center">
                    <div class="col-lg-2 col-md-3 text-center text-md-left mb-4 mb-md-0">
                        <img src="http://via.placeholder.com/200x200" alt="" class="img-fluid blockquote__avatar">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <blockquote class="blockquote mb-0">
                            <p class="mb-0">"Generate relevant and engaging content and above all, increase viewability. Demonstrate scrum masters and try to innovate. Funneling a holistic approach with."</p>
                            <footer>
                                <h5 class="mb-0 mt-4">— Austin Clein</h5>
                                <p class="mb-0">Interface Designer</p>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="pricing pricing-5 section section--padding section--gradient__5">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-8 offset-lg-2">
                <h3 class="title">SEO Pricing Options</h3>
                <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="pricing-card pricing-card-first">
                    <h5 class="pricing-card__title mb-4">Single</h5>
                    <h3 class="pricing-card__value"><span class="pricing-currency">$</span><span class="pricing-cost">19</span><span class="pricing-period">/mo</span></h3>
                    <ul class="pricing-card__list list-unstyled mb-0 pb-1">
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span>4GB Disk Space</span>
                            <i data-feather="help-circle" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span>1000GB Bandwidth</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span>50 MySQL Database</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span>5 FTP User</span>
                            <i data-feather="help-circle" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span>100 Email Account</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__false mr-2"></i>
                            <span>Unlimited Website Builder</span>
                        </li>
                    </ul>
                    <div class="text-center mt-4">
                        <a href="#" class="btn btn--blue btn--lg">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-card pricing-card-highlighted">
                    <div class="ribbon"><h6 class="text-uppercase mb-0">Popular Option</h6></div>
                    <h5 class="pricing-card__title mb-4">Premium</h5>
                    <h3 class="pricing-card__value"><span class="pricing-currency">$</span><span class="pricing-cost">99</span><span class="pricing-period">/mo</span></h3>
                    <ul class="pricing-card__list list-unstyled mb-0 pb-1">
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span><strong>Unlimited</strong> Disk Space</span>
                            <i data-feather="help-circle" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span><strong>Unlimited</strong> Bandwidth</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span><strong>Unlimited</strong> MySQL Database</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span><strong>Unlimited</strong> FTP User</span>
                            <i data-feather="help-circle" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span><strong>Unlimited</strong> Email Account</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__false mr-2"></i>
                            <span><strong>Unlimited</strong> Control Panel</span>
                            <i data-feather="help-circle" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
                        </li>
                    </ul>
                    <div class="text-center mt-4">
                        <a href="#" class="btn btn--green btn--lg">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-card">
                    <h5 class="pricing-card__title mb-4">Business</h5>
                    <h3 class="pricing-card__value"><span class="pricing-currency">$</span><span class="pricing-cost">139</span><span class="pricing-period">/mo</span></h3>
                    <ul class="pricing-card__list list-unstyled mb-0 pb-1">
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span><strong>Unlimited</strong> Disk Space</span>
                            <i data-feather="help-circle" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span><strong>Unlimited</strong> Bandwidth</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span><strong>Unlimited</strong> MySQL Database</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span><strong>Unlimited</strong> FTP User</span>
                            <i data-feather="help-circle" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span><strong>Unlimited</strong> Email Account</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pricing-icon pricing-icon__true mr-2"></i>
                            <span><strong>Unlimited</strong> Website Builder</span>
                        </li>
                    </ul>
                    <div class="text-center mt-4">
                        <a href="#" class="btn btn--blue btn--lg">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-2 text-center">
    <div class="container">
        <div class="row w-100">
            <div class="footer__menu col-lg-12">
                <ul class="footer__menu list-unstyled m-0 d-block d-sm-flex justify-content-center">
                    <li class="mr-3 ml-3"><a href="#">News</a></li>
                    <li class="mr-3 ml-3"><a href="#">FAQ</a></li>
                    <li class="mr-3 ml-3"><a href="#">Privacy Policy</a></li>
                    <li class="mr-3 ml-3"><a href="#">Terms of Use</a></li>
                </ul>
            </div>
            <div class="footer__bottom col-lg-12">
                <img src="http://via.placeholder.com/600x332" alt="" class="footer__logo">
                <p class="footer__copyrights">© Copyright 2018 PeElOne - All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="modal-body__image col-md-5"></div>
                    <div class="modal-body__content col-md-7">
                        <div class="d-flex justify-content-center">
                            <div class="col-lg-9 col-md-8">
                                <div class="preamble text-left mb-5">
                                    <h3 class="title">Just 24 Hours Left!</h3>
                                    <p class="lead">Your limited-time offer to upgrade to Austin Premium is almost up.</p>
                                </div>
                                <form action="#" class="modal__form">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Name" class="form-control modal__form--input" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" placeholder="Your Email" class="form-control modal__form--input" required>
                                    </div>
                                    <div class="form-group justify-content-center d-flex mt-3 mb-0">
                                        <button class="btn btn--blue btn--lg w-100 modal__form--btn">Join Newsletter Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../js/main.js"></script>
</body>
</html>