<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700%7COpen+Sans:400,600" rel="stylesheet">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../css/iconsmind.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/modal-video.min.css">
    <link rel="stylesheet" href="../css/socicons.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">

    <title>VPN Landing Page</title>
</head>
<body>

<main id="main" class="main main-3">
    <div class="gradient"></div>
    <nav class="navbar navbar-1 navbar-expand-lg navbar-light justify-content-center">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="http://via.placeholder.com/600x332" alt="" class="light">
                <img src="http://via.placeholder.com/600x332" alt="" class="dark">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto fill-flex justify-content-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="index.html">Hosting</a>
                            <a class="dropdown-item" href="index2.html">SEO</a>
                            <a class="dropdown-item" href="index3.html">VPN</a>
                            <a class="dropdown-item" href="index4.html">Ecommerce</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tour">Integrations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Promo</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto justify-content-end align-items-start align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link nav-link__cta rounded" href="#footer">Buy Now</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <h1 class="main-content__title mb-3 mb-lg-4 h2">The Fastest & Simplest VPN. Gain Secure Internet.</h1>
                    <p class="main-content__lead lead mb-4">Surf internet Anonymously</p>
                    <a href="#" class="btn btn--green btn--lg mb-0 mt-4 d-inline-flex align-items-center">How it Works<i class="icon icon-Right ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-12">
                <img src="../images/hero-illustration-4.png" alt="#" class="main-content__img">
            </div>
        </div>
    </div>
</main>

<section id="pricing" class="pricing-3 section section--padding__bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="pricing-card pricing-card__first">
                    <h5 class="pricing-card__title mb-4">2 years</h5>
                    <h3 class="pricing-card__value"><span class="pricing-currency">$</span><span class="pricing-cost">2.99</span><span class="pricing-period">/mo</span></h3>
                    <footer class="pricing-card__footer">
                        <p class="mb-1 pt-4">Billed $79.99 every two years</p>
                        <h5 class="mb-0">Save 40%</h5>
                    </footer>
                    <div class="text-center mt-4">
                        <a href="#" class="btn btn--blue">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="pricing-card pricing-card-highlighted">
                    <div class="box">
                        <div class="ribbon"><span>POPULAR</span></div>
                    </div>
                    <h5 class="pricing-card__title mb-4">1 year</h5>
                    <h3 class="pricing-card__value"><span class="pricing-currency">$</span><span class="pricing-cost">0.99</span><span class="pricing-period">/mo</span></h3>
                    <footer class="pricing-card__footer">
                        <p class="mb-1 pt-4">Billed $79.99 every two years</p>
                        <h5 class="mb-0">Save 72%</h5>
                    </footer>
                    <div class="text-center mt-4">
                        <a href="#" class="btn btn--green">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-card">
                    <h5 class="pricing-card__title mb-4">2 years</h5>
                    <h3 class="pricing-card__value"><span class="pricing-currency">$</span><span class="pricing-cost">6.99</span><span class="pricing-period">/mo</span></h3>
                    <footer class="pricing-card__footer">
                        <p class="mb-1 pt-4">Billed $79.99 every two years</p>
                        <h5 class="mb-0">Save 21%</h5>
                    </footer>
                    <div class="text-center mt-4">
                        <a href="#" class="btn btn--blue">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pricing-features justify-content-center">
            <div class="col-lg-11">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-auto col-md-4 col-sm-6 mt-4 mt-md-0">
                        <div class="pricing-feature d-flex align-items-center justify-content-center">
                            <i class="icon icon-Yes"></i><p>Access to VPN</p>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-4 col-sm-6 mt-4 mt-md-0">
                        <div class="pricing-feature d-flex align-items-center justify-content-center">
                            <i class="icon icon-Yes"></i><p>Zero traffic logs</p>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-4 col-sm-6 mt-4 mt-md-0">
                        <div class="pricing-feature d-flex align-items-center justify-content-center">
                            <i class="icon icon-Yes"></i><p>Free Email Account </p>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-4 col-sm-6 mt-4 mt-lg-0">
                        <div class="pricing-feature d-flex align-items-center justify-content-center">
                            <i class="icon icon-Yes"></i><p>Easy to use Control</p>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-4 col-sm-6 mt-4 mt-lg-0">
                        <div class="pricing-feature d-flex align-items-center justify-content-center">
                            <i class="icon icon-Yes"></i><p>Domain Forwarding </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tour" class="tour-2 section section--padding__bottom">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-8 offset-lg-2">
                <h3 class="title">Integrations</h3>
                <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav list-unstyled m-0 no-gutters" id="pills-tab" role="tablist">
                    <li class="col">
                        <a class="active d-flex flex-column align-items-center" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="true">
                            <i class="icon icon-Video-Photographer icon--lg d-none d-md-block"></i>
                            <span class="d-block text-center mt-0 mt-lg-4">Favourite Sitcoms</span>
                        </a>
                    </li>
                    <li class="col">
                        <a class="d-flex flex-column align-items-center" id="pills-customization-tab" data-toggle="pill" href="#pills-customization" role="tab" aria-controls="pills-customization" aria-selected="false">
                            <i class="icon icon-Gears icon--lg d-none d-md-block"></i>
                            <span class="d-block text-center mt-0 mt-lg-4">Customizations</span>
                        </a>
                    </li>
                    <li class="col">
                        <a class="d-flex flex-column align-items-center" id="pills-engineers-tab" data-toggle="pill" href="#pills-engineers" role="tab" aria-controls="pills-engineers" aria-selected="false">
                            <i class="icon icon-Neutron icon--lg d-none d-md-block"></i>
                            <span class="d-block text-center mt-0 mt-lg-4">Best Engineers</span>
                        </a>
                    </li>
                    <li class="col">
                        <a class="d-flex flex-column align-items-center" id="pills-available-tab" data-toggle="pill" href="#pills-available" role="tab" aria-controls="pills-available" aria-selected="false">
                            <i class="icon icon-Globe icon--lg d-none d-md-block"></i>
                            <span class="d-block text-center mt-0 mt-lg-4">Wherever you Want</span>
                        </a>
                    </li>
                    <li class="col">
                        <a class="d-flex flex-column align-items-center" id="pills-devices-tab" data-toggle="pill" href="#pills-devices" role="tab" aria-controls="pills-devices" aria-selected="false">
                            <i class="icon icon-Monitor-phone icon--lg d-none d-md-block"></i>
                            <span class="d-block text-center mt-0 mt-lg-4">Many Devices</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>What is a hamburger menu mmm, exactly like that, but different yet make it look like Apple.</h4>
                            </div>
                            <div class="col-lg-6">
                                <div class="pr-4"><p class="lead">The team behind web development at Tooploox consists of world-class advertising, applications without using so complicated tech.</p> <p>Use these icons license for any commercial or personal project including templates, web design, advertising, applications, themes for sale, gaming, print, logo and software. All the icon packs come with extended license that covers a whole company users.</p>
                                    <p>If for any reason you want your money back. All icons equipped keywords for easy searching.</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="pills-customization" role="tabpanel" aria-labelledby="pills-customization-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>What is a hamburger menu mmm, exactly like that, but different yet make it look like Apple.</h4>
                            </div>
                            <div class="col-lg-6">
                                <div class="pr-4"><p class="lead">Make sure to include in your wheelhouse i also believe it's important for every member to be involved and invested in our company.</p> <p>Use these icons license for any commercial or personal project including templates, web design, advertising, applications, themes for sale, gaming, print, logo and software. All the icon packs come with extended license that covers a whole company users.</p>
                                    <p>If for any reason you want your money back. All icons equipped keywords for easy searching.</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="pills-engineers" role="tabpanel" aria-labelledby="pills-engineers-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>What is a hamburger menu mmm, exactly like that, but different yet make it look like Apple.</h4>
                            </div>
                            <div class="col-lg-6">
                                <div class="pr-4"><p class="lead">Make sure to include in your wheelhouse i also believe it's important for every member to be involved and invested in our company.</p> <p>Use these icons license for any commercial or personal project including templates, web design, advertising, applications, themes for sale, gaming, print, logo and software. All the icon packs come with extended license that covers a whole company users.</p>
                                    <p>If for any reason you want your money back. All icons equipped keywords for easy searching.</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="pills-available" role="tabpanel" aria-labelledby="pills-available-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>What is a hamburger menu mmm, exactly like that, but different yet make it look like Apple.</h4>
                            </div>
                            <div class="col-lg-6">
                                <div class="pr-4"><p class="lead">Make sure to include in your wheelhouse i also believe it's important for every member to be involved and invested in our company.</p> <p>Use these icons license for any commercial or personal project including templates, web design, advertising, applications, themes for sale, gaming, print, logo and software. All the icon packs come with extended license that covers a whole company users.</p>
                                    <p>If for any reason you want your money back. All icons equipped keywords for easy searching.</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="pills-devices" role="tabpanel" aria-labelledby="pills-devices-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>What is a hamburger menu mmm, exactly like that, but different yet make it look like Apple.</h4>
                            </div>
                            <div class="col-lg-6">
                                <div class="pr-4"><p class="lead">Make sure to include in your wheelhouse i also believe it's important for every member to be involved and invested in our company.</p> <p>Use these icons license for any commercial or personal project including templates, web design, advertising, applications, themes for sale, gaming, print, logo and software. All the icon packs come with extended license that covers a whole company users.</p>
                                    <p>If for any reason you want your money back. All icons equipped keywords for easy searching.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services-1 section section--gradient__1">
    <div class="container">
        <div class="row">
            <div class="preamble preamble--light col-lg-8 offset-lg-2">
                <h3 class="title">Compare Best VPN</h3>
                <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="feature-card mb-4 mb-lg-0">
                    <i class="icon icon-University icon--md icon--color"></i>
                    <h4 class="feature-card__title mb-4 mt-4">For Companies</h4>
                    <ul class="list-unstyled m-0">
                        <li class="d-flex align-items-center"><i class="feature-card__icon icon icon-Yes"></i><span>Communicate securely</span></li>
                        <li class="d-flex align-items-center"><i class="feature-card__icon icon icon-Yes"></i><span>Stay in touch with your clients</span></li>
                        <li class="d-flex align-items-center"><i class="feature-card__icon icon icon-Yes"></i><span>Time entry and billing</span></li>
                        <li class="d-flex align-items-center"><i class="feature-card__icon icon icon-Yes"></i><span>Document Automation</span></li>
                        <li class="d-flex align-items-center"><i class="feature-card__icon icon icon-Yes"></i><span>Flexible Payout Schedule</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-card">
                    <i class="icon icon-MaleFemale icon--md icon--color"></i>
                    <h4 class="feature-card__title mb-4 mt-4">For Individual Customers</h4>
                    <ul class="list-unstyled m-0">
                        <li class="d-flex align-items-center"><i class="feature-card__icon icon icon-Yes"></i><span>Get your payment via wire transfer</span></li>
                        <li class="d-flex align-items-center"><i class="feature-card__icon icon icon-Yes"></i><span>Contact your account manager for more</span></li>
                        <li class="d-flex align-items-center"><i class="feature-card__icon icon icon-Yes"></i><span>Legal Departments</span></li>
                        <li class="d-flex align-items-center"><i class="feature-card__icon icon icon-Yes"></i><span>5GB of total file storage for the team</span></li>
                        <li class="d-flex align-items-center"><i class="feature-card__icon icon icon-Yes"></i><span>$14,50 per month cheaper</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="app" class="app-1 section section--padding__top">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-8 offset-lg-2">
                <h3 class="title">Protect up to 6 devices</h3>
                <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
                <a href="#" class="btn btn--green btn--lg mb-0 mt-4 d-inline-flex align-items-center">Download App<i class="icon icon-Right ml-2"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <img src="http://via.placeholder.com/1761x1009" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="features" class="features-1 section section--padding__wmargin">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="feature d-flex">
                    <i class="feature__icon icon icon--md icon-CPU icon--color mr-4"></i>
                    <div>
                        <h5>100% Intel Cores</h5>
                        <p class="pr-4">Diversify kpis gain traction, so anti-pattern and get all your ducks.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature d-flex">
                    <i class="feature__icon icon icon--md icon-Billing icon--color mr-4"></i>
                    <div>
                        <h5>No long term contracts</h5>
                        <p class="pr-4">Shoot me an email we've got to manage that low hanging fruit that jerk.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature d-flex">
                    <i class="feature__icon icon icon--md icon-Atom icon--color mr-4"></i>
                    <div>
                        <h5>Powerful API</h5>
                        <p class="pr-4">Powerpoint Bunny we need distributors to evangelize the new line to local markets.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="feature d-flex">
                    <i class="feature__icon icon icon--md icon-Restore-Window icon--color mr-4"></i>
                    <div>
                        <h5>If something happens</h5>
                        <p class="pr-4">We need more paper drill down, yet t-shaped individual nor are we in agreeance.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature d-flex">
                    <i class="feature__icon icon icon--md icon-Data-Lock icon--color mr-4"></i>
                    <div>
                        <h5>Root administrator access</h5>
                        <p class="pr-4">Dog and pony show your work on this project has been really impactful quick win.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature d-flex">
                    <i class="feature__icon icon icon--md icon-Target icon--color mr-4"></i>
                    <div>
                        <h5>Infinite OS combinations</h5>
                        <p class="pr-4">Time to open the kimono I have zero cycles for this. Where do we stand on the latest client ask.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about-1 section section--gradient__1">
    <div class="container">
        <div class="row">
            <div class="preamble preamble--light col-lg-8 offset-lg-2">
                <h3 class="title">How it Works</h3>
                <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="about-player embed-responsive embed-responsive-16by9">
                    <div class="about-player__icon"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq" class="faq-2 section section--padding">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-8 offset-lg-2">
                <h3 class="title">Frequently Asked Questions</h3>
                <p class="lead">Demonstrating core competencies to in turn innovate. Create stakeholder engagement so that we gain traction.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="question">
                    <h5>Out of the loop ramp up customer centric?</h5>
                    <p>I realized she was just office pretty curate. After I ran into Helen at a restaurant, I realized she was just office pretty t-shaped individual become creative.</p>
                </div>
                <div class="question">
                    <h5>Programmatically gain traction?</h5>
                    <p>Bob called an all-hands this afternoon to be inspired is to become creative, innovative and energized we want this philosophy to trickle down to all our stakeholders.</p>
                </div>
                <div class="question">
                    <h5>Bake it in can I just chime in on that?</h5>
                    <p>We need to harvest synergy effects we need more paper who's responsible for the ask for this request?. Strategic fit ladder up / ladder back to the strategy nor reach out.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="question">
                    <h5>Out of the loop ramp up customer centric?</h5>
                    <p>Out of the loop ramp up customer centric, so quick-win baseline screw the pooch, or player-coach.  Tbrand terrorists message the initiative.</p>
                </div>
                <div class="question">
                    <h5>Programmatically gain traction?</h5>
                    <p>Old boys club drill down, after I ran into Helen at a restaurant, I realized she was just office pretty curate. After I ran into Helen at a restaurant, I realized she was just office pretty.</p>
                </div>
                <div class="question">
                    <h5>Can we try some other colours?</h5>
                    <p>Race without a finish line run it up the flagpole open door policy mobile friendly. Old boys club drill down, after I ran into Helen at a restaurant realized.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="clients" class="clients-2 section section--padding__bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <h4 class="text-center">Trusted by 3000+ Companies</h4>
                <div class="row">
                     <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="http://via.placeholder.com/215x47" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-3 section section--padding__wmargin section--gradient__6">
    <div class="container">
        <div class="row">
            <div class="preamble preamble--light col-lg-12">
                <h3 class="title">Sign-up today and recieve our founders bonus</h3>
            </div>
            <form action="#" class="footer__form d-flex col-lg-12">
                <div class="row fill-flex justify-content-center">
                    <div class="col-lg-3 col-md-12 mb-3 mb-lg-0">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="col-lg-3 col-md-12 mb-3 mb-lg-0">
                        <input type="text" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="col-lg-3 col-md-12 mb-3 mb-lg-0">
                        <input type="text" class="form-control" placeholder="Your Password">
                    </div>
                    <div class="col-lg-3 col-md-12 text-center">
                        <button class="main-content__form--btn btn btn--green btn--lg w-100">Create a Free Account</button>
                    </div>
                </div>
            </form>
            <div class="col-lg-12 text-center">
                <p>This offer's just for new InVision users.</p>
                <p class="mb-0">By clicking "CREATE A FREE ACCOUNT," you agree to <a href="#">InVision's Terms of Service</a>.</p>
            </div>
            <img src="http://via.placeholder.com/350x150" alt="" class="footer__logo">
        </div>
    </div>
</footer>

<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="modal-body__image col-md-5"></div>
                    <div class="modal-body__content col-md-7">
                        <div class="d-flex justify-content-center">
                            <div class="col-lg-9 col-md-8">
                                <div class="preamble text-left mb-5">
                                    <h3 class="title">Just 24 Hours Left!</h3>
                                    <p class="lead">Your limited-time offer to upgrade to Austin Premium is almost up.</p>
                                </div>
                                <form action="#" class="modal__form">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Name" class="form-control modal__form--input" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" placeholder="Your Email" class="form-control modal__form--input" required>
                                    </div>
                                    <div class="form-group justify-content-center d-flex mt-3 mb-0">
                                        <button class="btn btn--blue btn--lg w-100 modal__form--btn">Join Newsletter Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/main.js"></script>

</body>
</html>